<?xml version="1.0" encoding="utf-8"?>
<!--
  Default string table. Compose Multiplatform falls back ONLY to this unqualified values/
  directory: every key must exist here. Translations go in values-<locale>/strings.xml.
  See https://github.com/arthurnagy/kmp-forge/blob/main/docs/i18n-a11y.md
-->
<resources>
    <string name="home_placeholder">${APP_NAME}</string>
</resources>
