package ${BASE_PACKAGE}.ui

import androidx.compose.material3.ColorScheme
import androidx.compose.material3.darkColorScheme
import androidx.compose.material3.lightColorScheme

/**
 * Light + dark M3 color schemes. Replace with output of Material Theme Builder:
 * https://material-foundation.github.io/material-theme-builder/
 */
val LightScheme: ColorScheme = lightColorScheme()
val DarkScheme: ColorScheme = darkColorScheme()
